 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Frontend</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p><ul>
	<li>Javascript/React/NodeJS</li>
	<li>HTML5</li>
	<li>Bootstrap</li>
	<li>Blazor</li>
      </ul></p>
    </div>
    <div class="tech">
      <h2>Backend</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p><ul>
	<li>C#</li>
	<li>C/C++</li>
	<li>Java</li>
	<li>Javascript/React/NodeJS</li>
	<li>PHP</li>
      </ul></p>
    </div>
    <div class="tech">
      <h2>Tools and Applications</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p><ul>
	<li>Git</li>
	<li>Visual Studio/Visual Studio Code</li>
	<li>Amazon Web Services</li>
	<li>Microsoft Azure</li>
      </ul></p>
    </div>
</div>
