 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Frontend</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <p>
	Javascript/React/NodeJS<br>
	HTML5<br>
	Bootstrap<br>
	Blazor<br>
      </p>
    </div>
    <div class="tech">
      <h2>Backend</h2>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-c-plain colored"></i>
      <i class="devicon-php-plain colored"></i>
      <p>
	C#<br>
	C/C++<br>
	Java<br>
	Javascript/React/NodeJS<br>
	PHP<br>
      </ul>
    </div>
    <div class="tech">
      <h2>Tools and Applications</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <p>
	Git<br>
	Visual Studio/Visual Studio Code<br>
	Amazon Web Services<br>
	Microsoft Azure<br>
      </p>
    </div>
</div>
