<div class="user-details">
  <h1> My Experience </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/harris.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Harris Computers - Hospital/Pharmacy Appointment Tracker </h3>
    <ul>
      <li>C#</li>
      <li>ASP .NET</li>
      <li>Blazor</li>
      <li>Project Management</li>
      <li>Azure</li>
    </ul>
    <p>Created a web application to be used by pharmacy and hospital workers to keep track of a record patient visits and appointments as the capstone project of my 4 year degree. I acted as one of the developers of the project and as the project's scrum master. Additionally I was also responsible for the deployment of the web application of off Azure and the creation/mangement of the CI/CD pipeline we used.</p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Windward Software - System 5 </h3>
    <ul>
      <li>Object Pascal</li>
      <li>QA Testing</li>
      <li>JSON</li>
    </ul>
    <p>Worked as part of the maintenance team for a 4 month co-op work term. I worked as a QA tester for the first part of the term, for the second part I worked as a junior software developer. Largest project worked on during my co-op term was a RESTful WebAPI to be used by clients' developers to access the functions of System 5 from their own applications.</p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Eagle Homes - PDF Form Filler Tool </h3>
    <ul>
      <li>PHP</li>
      <li>HTML & CSS</li>
    </ul>
    <p>Web application tool created for a modular home company as part of my 4 year BCIS degree at Okanagan College. Tool was to be used to fill out printable PDFs from information provided to the web application by Eagle Homes' employees via web forms.</p>
  </div>
</div>
